{% extends 'basic.html' %}
{% load static %}
{% block style %}
<style>
	.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f15d30 !important;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f15d30 !important;
  cursor: pointer;
}
</style>
{% endblock %}
{% block body %}
 <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
       <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Hotel <i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-0 bread">Hotel</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section ftco-no-pb">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="search-wrap-1 ftco-animate">
     <form action="/hotels/" method="GET" class="search-property-1">
      <div class="row no-gutters">
       <div class="col-lg d-flex">
        <div class="form-group p-4 border-0">
         <label for="#">Destination</label>
         <input type="hidden" value="True" name="apply_filter">
         <div class="form-field">
           <div class="icon"><span class="fa fa-search"></span></div>
           <input type="text" class="form-control" name="destination" placeholder="Search place">
         </div>
       </div>
     </div>
     <div class="col-lg d-flex">
      <div class="form-group p-4">
       <label for="#">Check-in date</label>
       <div class="form-field">
         
         <input type="text" class="form-control checkin_date" name="check_in_date" id="today_date" value='{{todays_date|date:"M/d/Y"}}' placeholder="Check In Date">

         <div class="icon"><span class="fa fa-calendar"></span></div>
        </div>
       
     </div>
   </div>
   <div class="col-lg d-flex">
    <div class="form-group p-4">
     <label for="#">Check-out date</label>
     <div class="form-field">
       
       <input type="text" class="form-control checkout_date" name="check_out_date" id="tommorrow_date"  value='{{tommorow_date|date:"M/d/Y"}}' placeholder="Check Out Date">
       <div class="icon"><span class="fa fa-calendar"></span></div>
      </div>
    
   </div>
 </div>
 <div class="col-lg d-flex">
 <div class="form-group p-4">
													<label for="price">Price Limit in ₹</label>
													<div class="slidecontainer">
													  <input type="range" min="0" max="150000" value="0" class="slider" name="price" id="priceRange">
														<span id="demo" style="color:red"></span>
													</div>
												</div>
</div>
<div class="col-lg d-flex">
  <div class="form-group d-flex w-100 border-0">
   <div class="form-field w-100 align-items-center d-flex">
    <input type="submit" value="Search" class="align-self-stretch form-control btn btn-primary">
  </div>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>

<section class="ftco-section">
 <div class="container">
  <div class="row">
    {% for hotel in hotels_data%}
   <div class="col-md-4 ftco-animate">
    <div class="project-wrap hotel">
     <a href="/hotels/{{hotel.pk}}" class="img" style="background-image: url({{hotel.image.url}});">
      <span class="price">₹ {{hotel.get_low_cost_room}}/night</span>
    </a>
    <div class="text p-4">
      <p class="star mb-2">
        {% with ''|center:hotel.rating as range %}
									 {% for _ in range %}
        <span class="fa fa-star"></span>
        {% endfor %}
									 {% endwith %}
        
      </p>

      <h3><a href="{{hotel.pk}}">{{hotel.name}}</a></h3>

        <p class="location"><span class="fa fa-map-marker"></span> {{hotel.location}},{{hotel.country}}</p>
        <button class="btn btn-primary"> Leave Rating </button>
   </div>
 </div>
</div>

{% endfor %}
</div>
<div class="row mt-5">
  <div class="col text-center">
    <div class="block-27">
        {% if hotels_data.has_other_pages %}
          <ul>
              {% if packages.has_previous %}
                <li><a href="?page={{hotels_data.previous_page_number}}">&lt;</a></li>
              {% else %}
               <li class="disabled" ><a >&lt;</a></li>
              {% endif %}
              {% for i in hotels_data.paginator.page_range %}
                {% if hotels_data.number == i%}
                        <li class="active"><a href="#">{{i}}</a></li>
                {% else %}
                        <li class=""><a href="?page={{i}}">{{i}}</a></li>
                {% endif %}

              {% endfor %}
                {% if hotels_data.has_next %}
                <li><a href="?page={{hotels_data.next_page_number}}">&gt;</a></li>
              {% else %}
               <li class="disabled" ><a >&gt;</a></li>
              {% endif %}

          </ul>
            {% endif %}
    </div>
  </div>
</div>
</div>
</section>



<section class="ftco-intro ftco-section ftco-no-pt">
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-md-12 text-center">
    <div class="img"  style="background-image: url({% static 'images/bg_2.jpg' %});">
     <div class="overlay"></div>
     <h2>We Are Pacific A Travel Agency</h2>
     <p>We can manage your dream building A small river named Duden flows by their place</p>
     <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
   </div>
 </div>
</div>
</div>
</section>
{% endblock %}
{% block script %}
<script>
var slider = document.getElementById("priceRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
}

$("#today_date").change(function(){
  t_date = $(this).val()
  var today_date = new Date(t_date)
  var result = new Date(t_date);
  result.setDate(result.getDate() + 1);
  var dd = String(result.getDate()).padStart(2, '0');
var mm = String(result.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = result.getFullYear()
const monthNames = ["0","January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
tm_date = monthNames[parseInt(mm)] + '/' + dd + '/' + yyyy;
$("#tommorrow_date").val(tm_date)
$("#today_date").val(monthNames[parseInt(String(today_date.getMonth()+1).padStart(2, '0'))]+"/"+String(today_date.getDate()).padStart(2, '0')+"/"+today_date.getFullYear())



})
$("#tommorrow_date").change(function(){
  t_date = $(this).val()
  var today_date = new Date(t_date)

const monthNames = ["0","January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];

$("#tommorrow_date").val(monthNames[parseInt(String(today_date.getMonth()+1).padStart(2, '0'))]+"/"+String(today_date.getDate()).padStart(2, '0')+"/"+today_date.getFullYear())



})
</script>

{% endblock %}