{% extends 'basic.html'%}

{% load static %}
{% block style %}
<style>
	.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f15d30 !important;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f15d30 !important;
  cursor: pointer;
}
</style>
{% endblock %}
{% block body %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
			<div class="col-md-7 ftco-animate">
				<span class="subheading">Welcome to Pacific</span>
				<h1 class="mb-4">Discover Your Favorite Place with Us</h1>
				<p class="caps">Travel to the any corner of the world, without going around in circles</p>
			</div>
			<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
				<span class="fa fa-play"></span>
			</a>
		</div>
	</div>
</div>

{% include 'messages.html' %}

<section class="ftco-section ftco-no-pb ftco-no-pt">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="ftco-search d-flex justify-content-center">
					<div class="row">
						<div class="col-md-12 nav-link-wrap">
							<div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
								<a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Search Tour</a>

								<a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Hotel</a>

							</div>
						</div>
						<div class="col-md-12 tab-wrap">
							
							<div class="tab-content" id="v-pills-tabContent">

								<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
									<form action="/search" class="search-property-1">
										<div class="row no-gutters">
											<div class="col-md d-flex">
												<div class="form-group p-4 border-0">
													<label for="#">Destination</label>
													<div class="form-field">
														<div class="icon"><span class="fa fa-search"></span></div>
														<input type="text" name="destination" class="form-control" placeholder="Search place">
													</div>
												</div>
											</div>
											<div class="col-md d-flex">
												<div class="form-group p-4">
													<label for="#">Country</label>
													<div class="form-field">
														<div class="icon"><span class="fa fa-flag"></span></div>
														<input type="text" name="country" class="form-control country" placeholder="Country">
													</div>
												</div>
											</div>
											<div class="col-md d-flex">
												<div class="form-group p-4">
													<label for="#">Days</label>
													<div class="form-field">
														<div class="select-wrap">
															<div class="icon"><span class="fa fa-chevron-down"></span></div>
															<select name="days" id="days" class="form-control">
																<option value="">Select Days</option>
																{% for day in days %}
																<option value="{{day }}">{{day }} days</option>
																{% endfor %}
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md d-flex">
												<div class="form-group p-4">
													<label for="#">Price Limit in ₹</label>
													<div class="slidecontainer">
													  <input type="range" min="0" max="150000" value="0" class="slider" name="price" id="myRange">
														<span id="demo" style="color:red"></span>
													</div>
												</div>
											</div>
											<div class="col-md d-flex">
												<div class="form-group d-flex w-100 border-0">
													<div class="form-field w-100 align-items-center d-flex">
														<input type="submit" value="Search" class="align-self-stretch form-control btn btn-primary">
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>

								<div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
									<form action="#" class="search-property-1">
										<div class="row no-gutters">
											<div class="col-lg d-flex">
												<div class="form-group p-4 border-0">
													<label for="#">Destination</label>
													<div class="form-field">
														<div class="icon"><span class="fa fa-search"></span></div>
														<input type="text" class="form-control" placeholder="Search place">
													</div>
												</div>
											</div>
											<div class="col-lg d-flex">
												<div class="form-group p-4">
													<label for="#">Check-in date</label>
													<div class="form-field">
														<div class="icon"><span class="fa fa-calendar"></span></div>
														<input type="text" class="form-control checkin_date" placeholder="Check In Date">
													</div>
												</div>
											</div>
											<div class="col-lg d-flex">
												<div class="form-group p-4">
													<label for="#">Check-out date</label>
													<div class="form-field">
														<div class="icon"><span class="fa fa-calendar"></span></div>
														<input type="text" class="form-control checkout_date" placeholder="Check Out Date">
													</div>
												</div>
											</div>
											<div class="col-lg d-flex">
												<div class="form-group p-4">
													<label for="#">Price Limit</label>
													<div class="form-field">
														<div class="select-wrap">
															<div class="icon"><span class="fa fa-chevron-down"></span></div>
															<select name="" id="" class="form-control">
																<option value="">$100</option>
																<option value="">$10,000</option>
																<option value="">$50,000</option>
																<option value="">$100,000</option>
																<option value="">$200,000</option>
																<option value="">$300,000</option>
																<option value="">$400,000</option>
																<option value="">$500,000</option>
																<option value="">$600,000</option>
																<option value="">$700,000</option>
																<option value="">$800,000</option>
																<option value="">$900,000</option>
																<option value="">$1,000,000</option>
																<option value="">$2,000,000</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg d-flex">
												<div class="form-group d-flex w-100 border-0">
													<div class="form-field w-100 align-items-center d-flex">
														<input type="submit" value="Search" class="align-self-stretch form-control btn btn-primary p-0">
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section services-section">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
					<div class="w-100">
						<span class="subheading">Welcome to Pacific</span>
						<h2 class="mb-4">It's time to start your adventure</h2>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
						A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
						<p><a href="#" class="btn btn-primary py-3 px-4">Search Destination</a></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
							<div class="services services-1 color-1 d-block img" style="background-image: url({% static 'images/services-1.jpg' %});">
								<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Activities</h3>
									<p>A small river named Duden flows by their place and supplies it with the necessary</p>
								</div>
							</div>      
						</div>
						<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
							<div class="services services-1 color-2 d-block img" style="background-image: url({% static 'images/services-2.jpg' %});">
								<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Travel Arrangements</h3>
									<p>A small river named Duden flows by their place and supplies it with the necessary</p>
								</div>
							</div>    
						</div>
						<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
							<div class="services services-1 color-3 d-block img" style="background-image: url({% static 'images/services-3.jpg' %});">
								<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Private Guide</h3>
									<p>A small river named Duden flows by their place and supplies it with the necessary</p>
								</div>
							</div>      
						</div>
						<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
							<div class="services services-1 color-4 d-block img" style="background-image: url({% static 'images/services-4.jpg' %});">
								<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Location Manager</h3>
									<p>A small river named Duden flows by their place and supplies it with the necessary</p>
								</div>
							</div>      
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section img ftco-select-destination" style="background-image: url({% static 'images/bg_3.jpg' %})">
		<div class="container">
			<div class="row justify-content-center pb-4">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Pacific Provide Places</span>
					<h2 class="mb-4">Select Your Destination</h2>
				</div>
			</div>
		</div>
		<div class="container container-2">
			<div class="row">
				<div class="col-md-12">
					<div class="carousel-destination owl-carousel ftco-animate">
						{% for country in countries%}
						<div class="item">
							<div class="project-destination">
								<a href="/tour_packages?country={{country.name}}" class="img" style="background-image: url({{country.image.url}});">
									<div class="text">
										<h3>{{country.name}}</h3>
										<span>{{country.get_tour_count}} Tours</span>
									</div>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-4">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Destination</span>
					<h2 class="mb-4">Tour Packages</h2>
				</div>
			</div>
			<div class="row">
				{% for package in packages%}
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="/tour_package/{{package.pk}}" class="img" style="background-image: url({{package.image.url}});">
							<span class="price">₹ {{package.cost_per_person}}/person</span>
						</a>
						<div class="text p-4">
							<span class="days" >{{package.no_of_days}} Days Tour</span>
							<span class="days"><span class="fa fa-group ml-2 mr-1" style="font-size:20px"></span> {{package.max_capacity}}</span>
							{% if package.Nearest_nature_place == 'Beach'%}
							<span class="days"><span class="flaticon-sun-umbrella ml-2 mr-1" style="font-size:20px"></span> {{package.Nearest_nature_place}}</span>
							{% elif package.Nearest_nature_place == 'Mountain'%}
							<span class="days"><span class="flaticon-mountains ml-2 mr-1" style="font-size:20px"></span> {{package.Nearest_nature_place}}</span>
							{% elif package.Nearest_nature_place == 'City' or package.Nearest_nature_place == 'city' %}
							<span class="days"><span class="fa fa-building ml-2 mr-1" style="font-size:20px"></span> {{package.Nearest_nature_place}}</span>
							{% endif %}
							<h3><a href="#">{{package.title}}</a></h3>
							<p class="location"><span class="fa fa-map-marker"></span> {{package.destination}},
								{{package.country}}</p>

							<ul>
								{% for places in package.get_places%}

									<li><span class="fa fa-check"></span>{{places}}</li>
								{% endfor %}

							</ul>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>
	
	<section class="ftco-section ftco-about img"style="background-image: url({% static 'images/bg_4.jpg' %});">
		<div class="overlay"></div>
		<div class="container py-md-5">
			<div class="row py-md-5">
				<div class="col-md d-flex align-items-center justify-content-center">
					<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
						<span class="fa fa-play"></span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-about ftco-no-pt img">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-12 about-intro">
					<div class="row">
						<div class="col-md-6 d-flex align-items-stretch">
							<div class="img d-flex w-100 align-items-center justify-content-center" style="background-image:url({% static 'images/about-1.jpg' %});">
							</div>
						</div>
						<div class="col-md-6 pl-md-5 py-5">
							<div class="row justify-content-start pb-3">
								<div class="col-md-12 heading-section ftco-animate">
									<span class="subheading">About Us</span>
									<h2 class="mb-4">Make Your Tour Memorable and Safe With Us</h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
									<p><a href="#" class="btn btn-primary">Book Your Destination</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-bottom" style="background-image: url({% static 'images/bg_1.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center pb-4">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<span class="subheading">Testimonial</span>
					<h2 class="mb-4">Tourist Feedback</h2>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'images/person_3.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-4">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Our Blog</span>
					<h2 class="mb-4">Recent Post</h2>
				</div>
			</div>
			<div class="row d-flex">
				  {% for blog in blogs %}
        <div class="col-md-4 d-flex ftco-animate">
               <div class="blog-entry justify-content-end">
                <a href="/blogs/{{blog.slug}}" class="block-20" style="background-image: url({{blog.image.url}});">
                </a>
                <div class="text">
                 <div class="d-flex align-items-center mb-4 topp">
                  <div class="one">
                   <span class="day" style="font-size:2rem">{{blog.date.day}}</span>
                 </div>
                 <div class="two">
                   <span class="yr">{{blog.date.year}}</span>
                   <span class="mos">{{blog.date|date:"F"}}</span>
                 </div>
               </div>
               <h3 class="heading"><a href="#">{{blog.title}}</a></h3>
               <p>{{blog.content |safe| truncatewords:30}}</p>
               <p><a href="#" class="btn btn-primary">Read more</a></p>
             </div>
           </div>
        </div>
        {% endfor %}
			</div>
		</div>
	</section>

	<section class="ftco-intro ftco-section ftco-no-pt">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center">
					<div class="img"  style="background-image: url({% static 'images/bg_2.jpg' %});">
						<div class="overlay"></div>
						<h2>We Are Pacific A Travel Agency</h2>
						<p>We can manage your dream building A small river named Duden flows by their place</p>
						<p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block script %}
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>
{% endblock %}